<h3>Public Shop Page - Everyone can view this!</h3>
<p>Try incognito window to simulate a buyer</p>
<hr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

